<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/cv.css">
    <title>Document</title>
</head>
<body>
    <article class="colonne">
        <div class="case"></div>
        <div class="case2"></div>
        <div class="case3"></div>
    </article>     
    <article class="colonne">
      <div>
        <h12>Jean-Baptiste Flipoo</h12><br>
        <ol>Reconversion professionelle</ol>
      </div> 
      <h2>Actuellement en formation à l'afpa de roubaix en Developpeur web web mobile,<br>
           je cherche un stage pour valider mon cycle de formation au mieux afin d'avoir<br>
          et d'accerrir les compétences nécessaires pour être compétitif sur le marche de l'emploi futur.</h2>  
    </article>    
    <hr width="96%" size="1">
<article class="colonne">       
    <div>
        <center><img src="../images/tete profil.jpg" width=65%></img>
        <hr></hr>
        <h2><img src="../images/pen.png"width=20>Me contacter</h2>
        <hr></hr>
      </center> 
        <img src="../images/mail.png"width=20><a href="mailto:lbclbc59000@gmail.com?subject=HTML link">lbclbc59000@gmail.com</a><br>
        <a><img src="../images/Tel.png"width=20>06.61.70.26.62</a><br>
        <a><img src="../images/adresse.png"width=20>06 rue armand barbes</a><br>
          <a>59000 lille</a><br>
        <a><img src="../images/la-france.png"width=20>Français</a><br>
        <a><img src="../images/ordinateur.jpg"width=20>Teletravail ou présentiel</a><br>
        <a><img src="../images/velo.png"width=20>Mobile en vélo ou métro</a><br>
        <center>
            <hr></hr>
            <!-- linkedin -->
      <a href="https://www.linkedin.com/in/jean-baptiste-flipo-18218911b">
        <img src="../images/linkedin.png"width=40>
      </a> 
         <!-- Github -->
      <a href="https://github.com/HoKusaiFamine">
        <img src="../images/github (1).png"width=40>
      </a> 
      <hr></hr>
      
        <h2><img src="../images/loisir.png"width=20>Centres d'interets
        </h2>
        <hr width="68%" size="1" >
          <ol>Vélo, Montagne,<br>
              Nouvelles technologies,<br>
              Blockchain, Musique.</ol>
      <hr></hr>
        </center>
    </div> 
    <div>
        <div class="titre1">
            <h3><img src="../images/studies.png"width=45>Formation</h3>
        </div>       
        <ul>
            <li>Développeur web web mobile</li>
              <ol>decembre - 2022 (actuelement) - AFPA - Roubaix.
              </ol>
            <li>Technique de base informatique</li>
              <ol>Novembre - 2022 - AFPA - Roubaix.
              </ol>
            <li>Technique de base informatique</li>
              <ol>Octobre - 2022 - Neursserie - Lille.
              </ol>
            <li>Bac Pro MSMA</li>
              <ol>2003 - 2005 - CFAI - Tourcoing.
              </ol>
            <li>Bep MSMA</li>
              <ol>2001 - 2003 - EIC - Tourcoing.
              </ol>
            <li>BAFA (brevet d'aptitude aux fonctions d'animateur)</li>
              <ol>avril/octobre - 2002 - Merville.
              </ol>
        </ul>
        <div class="titre1">
          <h3><img src="../images/mallette.png"width=45>Expériences professionnelles</h3>
      </div>
        <ul>
          <li>Gestionnaire de stock.</li>
            <ol>aout-2020/mars-2022 - Aroma-Zone - Lille.
            </ol>
          <li>Controleur qualité.</li>
            <ol>Février-2019/Mars-2020 - AMN - Roubaix.
            </ol>
          <li>Technitien en logistique.</li>
            <ol>Septembre-2014/Septembre-2016 - Artemballe - Seclin.
            </ol>
          <li>Assistant magasin.</li>
            <ol>aout-2009/Janvier-2012 - Nordik-spa - Marcq-en-baroeul.
            </ol>
          <li>Conducteur de ligne</li>
            <ol>Septembre-2005/juillet-2009 - Macopharma - Tourcoing.
            </ol>         
        </ul>                    
            <div class="titre1">
                <h3><img src="../images/pencil-case.png"width=45>Compétences</h3>
            </div>
            <ul>
            <ul1>
              <li>Soft skill</li>
            </ul1>
          </ul>
            <ol>              
              <article class="colonne2">
                <div class="titre2">Adaptabilité
                </div><br>
                <div class="neutre"> 5</div>
                <div class="titre2">Esprit et travaille d'équipe
                </div>
                  <div class="neutre"> 5</div>
                <div class="titre2">passion
                </div>
                  <div class="neutre"> 5</div>
                <div class="titre2">Motivation
                </div>
                  <div class="neutre"> 5</div>
                  <div class="titre2">Enthousiasme
                </div>           
              </article>
            </ol>          
                <hr></hr>
                <ul>
                <ul1>              
                  <li>Hard skill</li>
                </ul1>
              </ul>
                <ol>  
                <article class="colonne2">
                    <div class="titre2">HTML
                  </div>
                    <div class="neutre"> 5</div>
                    <div class="titre2">CSS
                  </div>
                    <div class="neutre"> 5</div>
                    <div class="titre2">SQL
                  </div>
                    <div class="neutre"> 5</div>
                    <div class="titre2">Bootstrap
                  </div>
                    <div class="neutre"> 5</div>
                    <div class="titre2">Git hub
                  </div>
                    <div class="neutre"> 5</div>
                    <div class="titre2">Scrum
                  </div>
                    <div class="neutre"> 5</div>
                    <div class="titre2">Solid works
                  </div>
                   <div class="neutre"> 5</div>
                   <div class="titre2">Pack office
                  </div>
                </article>
                </ol>
                <hr></hr>                  
     </div>        
</article>
<article class="colonne">
  <div class="case"></div>
  <div class="case2"></div>
  <div class="case3"></div>
</article> 
  
</body>
</html>


</br>